#root {
    width: -moz-available;
    width: -webkit-fill-available;
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
    /*text-align: center;*/
}

.intro-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.intro-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    background: linear-gradient(2deg, rgba(27, 27, 28, 1) 10%, rgba(27, 27, 28, 0.70) 50%, rgba(27, 27, 28, 0.12) 85%),
    rgba(113, 118, 100, 0.3);
}

.intro-image div {
    position: relative;
    z-index: 1;
    height: inherit;
    text-align: center;
    align-content: center;
}

.about-section {
    margin: 4rem;
    min-height: 400px;
    padding: 2rem;
    /*text-align: center;*/
    /*background-color: #3a3e49;*/
    border: #585c6a solid 2px;
    border-radius: 1em;
    z-index: 1;
}

/*.project-section::before{*/
/*    content:'';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 0;*/
/*    background-color: #33373e;*/
/*    filter: drop-shadow(0 0 1.5em #585c6a);*/
/*}*/

.project-section {
    min-height: 400px;

    position: relative;
    width: 100%;
    background-color: #33373e;
    filter: drop-shadow(0 0 1.5em #585c6a);
}

/*.project-section *{*/
/*    z-index: 1;*/
/*}*/

.tab-panel{
    width: 100%;
    height: calc(100% - 24px);
}

/*.education-section:before{*/
/*    content: "";*/
/*    !*padding: 2rem;*!*/
/*    width: 100%;*/
/*    height: 500px;*/
/*    left: 0;*/
/*    position: absolute;*/
/*    background-image: url("https://source.unsplash.com/random");*/
/*    clip-path: circle(50% at 2rem 100%);*/
/*    z-index: 0;*/
/*}*/
/*.education-section *{*/
/*    z-index: 1;*/
/*}*/


/*.intro-image-shadow{*/
/*    width: 100%;*/
/*    height: 500px;*/
/*    object-fit: cover;*/
/*    background-color: rgba(113, 118, 100, 0.3);*/
/*    filter: drop-shadow(0 0 2em #646cffaa);*/

/*}*/
/*.intro*/


/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
